tests/n8n/workflows/first-scenario-keycloak-operator-login.json
[{"updatedAt":"2026-05-19T22:30:21.801Z","createdAt":"2026-05-19T22:10:22.120Z","id":"first-scenario-operator-login","name":"First Scenario - Operator Login","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[304,304]},{"parameters":{"method":"=POST","url":"=http://host.docker.internal:8081/realms/productservice/protocol/openid-connect/token","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"password","value":"operator123"},{"name":"username","value":"=operator"},{"name":"client_id","value":"productservice-dev-blazor"},{"name":"grant_type","value":"password"}]},"options":{}},"id":"request-token","name":"Request Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,304],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-access-token","leftValue":"={{$json.access_token}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"token-check","name":"Has Access Token?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,304]},{"parameters":{"jsCode":"return [{ json: { status: 'PASS', message: 'Login operator/operator123 succeeded', token_type: $json.token_type, expires_in: $json.expires_in } }];"},"id":"test-pass","name":"Test Pass","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,224]},{"parameters":{"jsCode":"throw new Error('Login failed: access_token not found in Keycloak response.');"},"id":"test-fail","name":"Test Fail","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,400]}],"connections":{"Manual Trigger":{"main":[[{"node":"Request Token","type":"main","index":0}]]},"Request Token":{"main":[[{"node":"Has Access Token?","type":"main","index":0}]]},"Has Access Token?":{"main":[[{"node":"Test Pass","type":"main","index":0}],[{"node":"Test Fail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":false},"pinData":{},"versionId":"49554f7b-bc8e-4f4c-b5b9-9380ad05ac40","activeVersionId":null,"versionCounter":50,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-19T22:10:22.120Z","createdAt":"2026-05-19T22:10:22.120Z","role":"workflow:owner","workflowId":"first-scenario-operator-login","projectId":"TrpmA1G98fPRCFNo","project":{"updatedAt":"2026-05-19T22:03:29.279Z","createdAt":"2026-05-19T22:01:43.948Z","id":"TrpmA1G98fPRCFNo","name":"vitor giam <vitorgiammella@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"81b11a41-683b-457a-be0a-dba0726adf17"}}],"versionMetadata":{"name":null,"description":null}}]